<div class="container">

    <% if @book.errors.any? %>
        <%= @book.errors.count %>error prohibited this obj from being saved:
            <ul>
              <% @book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
    <% end %>

  <div class="row">
        <div class="col-md-3">
    <!-----------------------部分テンプレ------------------------------------>
    <%= render 'books/list', user: @user, book: @book %>

        </div>

        <div class="col-md-8 offset-md-1">

            <h1>Users</h1>
            <table>
                <thead>
                    <th>image</th>
                    <th>name</th>
                    <th></th>
                    <th colspan="3"></th>
                </thead>

                <tbody>
                    <% @users.each do |user| %>
                        <tr>
                            <td><%= image_tag user.get_profile_image(100,100) %></td>
                            <td><%= user.name %>
                            <td><%= render "relationships/btn", user: user %></td><!--フォローテンプレ-->
                            <td><%= link_to "Show", user_path(user) %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
  </div>
</div>