  <div class="container">

  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

      <h2>Editing Book</h2>

        <diV id="error_explanation">
          <% if @book.errors.any? %>
          <h3><%= @book.errors.count %>error prohibited this obj from being saved:</h3>
            <ul>
              <% @book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
        </diV>


        <%= form_with model: @book, method: :patch do |f| %>

          <label for="inputTitle">Title</label>
          <div>
              <%= f.text_field :title, autofocus: true, id:"inputTitle" %>
          </div>

          <label for="inputOpinion">Opinion</label>
          <div>
            <%= f.text_field :body, autofocus: true, id:"inputOpinion" %>
          </div>

          <%= f.submit "Update Book", class: 'btn btn-success'%>
        <% end %>

        <%= link_to "Show", book_path(@book.id) %>
        <%= " |" %>
        <%= link_to "Back", '/books' %>

    </div>
  </div>
</div>