
<div class="container">

      <% if @book.errors.any? %>
        <%= @book.errors.count %>error prohibited this obj from being saved:
            <ul>
              <% @book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
      <% end %>

  <div><%= flash[:notice] %></div>
  <div class="row">
    <div class="col-md-3">
          <!-----------------------部分テンプレ------------------------------------>
            <%= render 'list', user: @book_show.user, book: @book %>
    </div>


    <div class="col-md-8 offset-md-1">

        <h1>Book detail</h1>
        <table>
            <thead>
            	<th></th>
                <th></th>
                <th></th>
                <th colspan="3"></th>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <%= link_to user_path(@book_show.user) do %>
                          <%= image_tag @book_show.get_image, class:"card-img-top"; %>
                          <%=  @book_show.user.name %>
                        <% end %>
                    </td>
                    <td><%= link_to @book_show.title, book_path(@book_show), method: :get %></td>
                    <td><%= @book_show.body %></td>

<!-----------------------------------↓いいねテンプレ--------------------------------------------------------------->
                    <td id="favorite_buttons">
                        <%= render 'favorites/favorite', book: @book_show %>
                    </td>

                    <td>
                        <% if @book_show.user == current_user %>
                            <%= link_to "Edit", edit_book_path(@book_show), class: "btn btn-success" %>
                            <%= link_to "Destroy", book_path, class: "btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか？" %>
                        <% end %>
                    </td>

                </tr>
            </tbody>
        </table>
<!---------------------------------------------↓コメント-------------------------------------------------------------------->
        <h2><span id="comment_count"><%= @book_show.comments.count %></span>コメント</h2>

             <!-----------------------↓コメントformテンプレ---------------------------->
        <div>
            <%= render "comments/comment_form", book_comment: @book_show, comment: @comment %>
        </div>


            <!-----------------------↓コメントeachテンプレ---------------------------->
                <div class="comment_each">
                    <%= render "comments/comment", book_comment: @book_show %>
                </div>

    </div>

  </div>
</div>
